.caraousel-caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.navbar {
    background-color: black !important;
}

html,
body {
    width: 100%;
    height: 100%;
}













/* 
.bigger {
    width: 100%;
    height: 200px;
    background-image: url('Screenshot\ \(156\).png');
    background-size: cover;
    background-position: center;
    position: relative;
}

.smaller {
    width: 100%;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    bottom: 0;
    text-align: center;
    color: white;
}

.cell {
    width: 33%;
    height: 400px;
    display: inline-block;
    margin: 0 15px;
    border: 3px solid;
    border-radius: 8px;
    overflow: hidden;
}

/* 
.cell img {
    width: 100%;
    height: 400px;
    object-fit: cover;
} */
*/